/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
body {
  text-align: center;
}
.board {
  display: inline-block;
  float: left;
  width: 50%;
  height: 50%;
}
.card {
  height: 200px;
  width: 150px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgb(255,255,0);
  float: left;
  margin: 8%;
}
.name {
  color: #ff0000;
}
footer {
  clear: both;
  background-color: #808080;
}
nav { 
  background-color: #808080;
}
a {
  background-color:#ffbf00;
  color: white;
  padding: 35px;
  display: block;
  float: left;
}
a:hover {
  background-color: #ee5f3c;
}
h1 {
  color: rgb(2, 132, 130);
}
h2 {
  color: #ffd700;
}
img {
  height:200px;
  width:150px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
